<li class="field-wrapper">
  <div class="form-group-with-margin">
    <%= object_person_form.honorific_prefix %>
  </div>
  <div class="form-group-with-margin">  
    <%= object_person_form.given_name %>
  </div>
  <div class="form-group-with-margin">
    <%= object_person_form.family_name %>
  </div>
  <div class="form-group-with-margin">
    <%= object_person_form.honorific_suffix %>
  </div>
  <div class="form-group-with-margin">
    <%= object_person_form.mail %>
  </div>
  <%= object_person_form.input :object_person_roles, wrapper: :label_and_hint_only %>
  <div class="multi-nested">
    <ul class="listing">
      <%= object_person_form.fields_for :object_person_roles, object_person_form.object_person_roles, builder: ObjectPersonRoleFormBuilder do |opr| %>
        <%= render partial: opr, locals: {required: true} %>
      <%- end %>
    </ul>
    <%= add_another_button :object_person_role %>
  </div>
  
  <%= object_person_form.input :person_identifiers, wrapper: :label_and_hint_only, required: true %>
  <div class="multi-nested">
    <ul class="listing">
      <%= object_person_form.fields_for :person_identifiers, object_person_form.person_identifiers, builder: ::PersonIdentifierFormBuilder do |pi| %>
        <%= render partial: pi, locals: { required: true } %>
      <%- end %>
    </ul>
    <%= add_another_button :person_identifier %>
  </div>

  <%= object_person_form.destroy %>
  <%= remove_button :object_person %>
</li>